@font-face { font-family: Delicious; src: url('LiberationSans-Bold-webfont.ttf'); } 

html {
    font-family: Delicious, Roboto;
}

header{
    
    display: flex;
    flex-direction: column;
    position: relative;
    background: url('../images/background.jpg') 50% 0 no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 50vh;
}

.bg-input {
    background-color: rgba(248, 249, 250, 0.5);
}

.btn-success-input{
    color: white;
    background-color: rgba(25, 135, 84, 0.5);
}

main {
    background-color: white;
    display: flex;
    flex-direction: column;
}

img {
    width: 350px;
    height: 200px;
}


/*
main > div:first-child {
    background-image: url('../images/header-page-catalogue.png');
    height: 100%;
    width: 100%;
}
*/
.reduc {
    top: 5%;
    right: -40px;
    width: 80px;

}

.card {
    width: 15 rem;
}

.absolute-footer {
    top: -13px;
    height: 26px;
}



.old-price {
    text-decoration: line-through;
    
}

.new-price {
    color: goldenrod
    
}